.root,
.list-view,
.list-cell,
.hbox,
.vbox,
.border-pane {
    -fx-background-color: -fx-global-bg-color;
    -fx-text-fill: white;
    -fx-font-family: "Segoe UI Emoji", "Noto Color Emoji", "Apple Color Emoji", sans-serif;
}

.list-cell {
    -fx-max-width: Infinity;
}

.list-cell:filled:selected,
.list-cell:filled:selected:hover {
    -fx-background-color: transparent;
}

/*** message wrapper ***/
.msg-row {
    -fx-padding: 6 12;
}

/*** hover feeling ***/
.list-cell:hover {
    -fx-background-color: -fx-global-bg-light;
}

/*** message styling ***/
.msg-text {
    -fx-wrap-text: true;
    -fx-padding: 8 12;
    -fx-font-size: 14px;
    -fx-background-radius: 6;
    -fx-border-radius: 6;
}

.msg-left .msg-text {
    -fx-text-fill: white;
}

.msg-right .msg-text {
    -fx-text-fill: white;
}
