.root,
.list-view,
.list-cell,
.hbox,
.vbox,
.border-pane {
    -fx-background-color: -fx-global-bg-color;
    -fx-text-fill: white;
    -fx-font-family: "Segoe UI Emoji", "Noto Color Emoji", "Apple Color Emoji", sans-serif;
}

.list-cell {
    -fx-max-width: Infinity;
}

.list-cell:filled:selected,
.list-cell:filled:selected:hover {
    -fx-background-color: transparent;
}

/*** message wrapper ***/
.msg-row {
    -fx-padding: 6 12;
}

/*** hover feeling ***/
.list-cell:hover {
    -fx-background-color: -fx-global-bg-light;
}

/*** message styling ***/
/*.msg-text {*/
/*    -fx-background-color: transparent;*/
/*    -fx-control-inner-background: transparent;*/

/*    -fx-text-fill: white;*/
/*    -fx-font-size: 14px;*/

/*    -fx-padding: 0;*/
/*    -fx-border-width: 0;*/

/*    -fx-highlight-fill: -fx-nodes-purple;*/
/*    -fx-highlight-text-fill: white;*/

/*    -fx-focus-color: transparent;*/
/*    -fx-faint-focus-color: transparent;*/
/*}*/

.msg-left .msg-text {
    -fx-text-fill: white;
}

.msg-right .msg-text {
    -fx-text-fill: white;
}

/* remove scrollbars completely */
.msg-text .scroll-pane,
.msg-text .viewport {
    -fx-background-color: transparent;
}

.msg-text .scroll-bar {
    -fx-opacity: 0;
    -fx-pref-width: 0;
    -fx-pref-height: 0;
}

.msg-row {
    -fx-padding: 4 12;
}

.msg-text {
    -fx-background-color: transparent;
    -fx-control-inner-background: transparent;

    -fx-text-fill: white;
    -fx-font-size: 14px;

    -fx-padding: 0;
    -fx-border-width: 0;

    -fx-focus-color: transparent;
    -fx-faint-focus-color: transparent;
}

.msg-text .scroll-bar {
    -fx-opacity: 0;
}